body#home {
    font-family: "apercu", -apple-system, system, sans-serif; /*-apple-system, system, sans-serif; */
    font-weight: 900;
    display: block;
    margin: 0px;
}

div#site-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div#inner-wrapper {
    width: 60%;
    min-width: 900px;   
    display: flex; 
    flex-direction: column;
}

div#background{
    position: fixed;
    overflow: hidden;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
}

video#background-video {
    position: absolute;    
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    max-width: none;
    max-height: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

img#background-art {
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

header#header-wrapper {
    min-height: 300px;
}

div#logo-wrapper {
    margin-top: 40px;
}

img#logo {
    width: 120px;
    height: 60px;
    cursor: pointer;
}

div#about-and-search {
    display: flex;
    justify-content: space-between;   
}

div#about-wrapper {
    width: 45%;
}

h1.header-text {
    color: #f74843;
    cursor: pointer;
    font-size: 35px;   
    font-weight: bold; 
}

a.hover-text:hover {
    cursor: pointer;
    color: white;
}

a#about-text {
    color: white;
    font-size: 25px;
}

div#search-wrapper {
    width: 45%;
    display: flex;
    flex-direction: row-reverse;
}

div#search-offset {
    align-self: flex-end;
    border-bottom: white 2px;
    width: 80%;
}

div#search-form-input {
    color: #f74843;
    border-bottom: 2px white solid;
    padding: 10px 0px;
    font-size: 25px;
}

input#filter-input {
    color: #f74843;
    font-size: 25px;
    background: transparent;
    border: none;
    width: calc(100% - 41px);
}
input.focus {
    outline-width: 0px;
}

::placeholder {
    color: white;
}

::-ms-input-placeholder {
    color: white;
}

button#search-button {
    height: 30px;
    width: 30px;
    margin-bottom: -10px;
    border: none;
    background: none;
    background-size: cover;
    background-image: url(../images/search-button.png)
}

section#section-wrapper {
    font-size: 70px;
    color: #f74843;
}

ul#section-tag-list {
    padding: 0px; /* remove indent before each list tag */
    list-style-type: none;
    padding-top: 20px;
    color: #f74843;
}

li.section-tag {
    margin-top: 20px;    
}

a.section-tag-text {
    color: #f74843;
    text-decoration: none;
}

footer#main-footer {
    margin-top: 50px;
    background-color: #f74843;
    display: flex;
    justify-content: center;
}

div#footer-wrapper {
    width: calc(100% - 40vw);
    min-width: 900px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 30px;
}

div#cdr-footer {
    margin-top: 10px;
}

a.cdr-footer-text {
    color: white;
    text-decoration: none;
}

a.cdr-footer-text-hover:hover {
    cursor: pointer;    
}

div.footer-box {
    flex-shrink: 0.8;
    color: white;
}

ul.footer-list {
    padding: 0px; /* remove indent before each list tag */
    list-style-type: none;
}

li.fisrt-footer-list-item {
    color: white;
    margin-bottom: 10px;
}

li.footer-list-tag {
    color: black;
    margin-bottom: 10px;
}

div#gog-logo {
    margin-top: 10px;
}

img#gog-logo-img {
    height: 50px;
    width: 50px;
    cursor: pointer;
}